<nav>
  <span class="logo">
    <a href="/">Maths and Bread</a>
  </span>
  <span class="login">
    {% if user.is_authenticated %}
    Hi {{ user.username }}
    <a href="javascript:{document.getElementById('logout').submit()}">
    logout</a>
    <form action="{% url 'logout' %}" method="POST" id="logout">
      {% csrf_token %}
      <input type="hidden">
    </form>
    {% else %}
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </span>
</nav>