{% extends 'base.html' %}
{% load sass_tags static markdownify %}

{% block content%}

<div class="container">
  <div class="row label">
    <div class="column period">
        Bundle
      </div>
      <div class="column status">
        EY
      </div>
      <div class="column status">
        SY
      </div>  
  </div>
</div>

{% if bundles %}
  {% for bundle in bundles %}
  <div class="container js-stack">
    <div class="row title">
      <div class="column period">
        {% if bundle.is_bonus %}
        🥐 Croissant {{ bundle.id}}
        {% else %}
        🍞 Bread {{ bundle.id}}
        {% endif %}
      </div>
      <div class="column {{ bundle.quiz_for_EY.status | slugify }}">
      {{ bundle.quiz_for_EY.status }}
      </div>
      <div class="column {{ bundle.quiz_for_SY.status | slugify }}">
      {{ bundle.quiz_for_SY.status }}
      </div>  
    </div>
    <div class="row content">
      <div class="column period">
        <!-- {{ bundle.start_date }} -->
        Started {{ bundle.time_passed }} days ago
        </div>
        <div class="column">
          <h3 class="quiz">
          {{ bundle.quiz_for_EY.title }}
          </h3>
          <p>{{ bundle.quiz_for_EY.question | safe }}</p>
          {% if bundle.quiz_for_EY.question_image %}
          <img class="quiz-img" src="{{ bundle.quiz_for_EY.question_image.url }}" />
          {% endif %}

          <!-- form image upload -->
          {% if user.is_authenticated %}
          <form method="post" action='{% url "index" category="ey" pk=bundle.quiz_for_EY.pk|default_if_none:"" %}' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_ey.as_p }}
            <button type="submit">Upload Answer Image</button>
          </form>
          {% endif %}
          <!-- end -->

          {% if bundle.quiz_for_EY.answer %}
          <img class="quiz-img" src="{{ bundle.quiz_for_EY.answer.url }}" />
          {% endif %}
        </div>
        <div class="column">
          <h3 class="quiz">
          {{ bundle.quiz_for_SY.title }}
          </h3>
          <p>{{ bundle.quiz_for_SY.question | markdownify |  safe | linebreaks }}</p>

          <!-- form code upload -->
          {% if user.is_authenticated %}
          <form method="post" action='{% url "index" category="sy" pk=bundle.quiz_for_SY.pk|default_if_none:"" %}'>
            {% csrf_token %}
            {{ form_sy.as_p }}
            <button type="submit">Upload Code</button>
          </form>
          {% endif %}
          <!-- end -->

          <p>{{ bundle.quiz_for_SY.answer | markdownify | safe }}</p>
        </div>  
    </div>
  </div>
  {% endfor %}
{% endif %}

{% endblock %}