{% extends 'base.html' %}
{% load sass_tags static %}

{% block content%}

<div class="container">
  <div class="row label">
    <div class="column period">
        Period
      </div>
      <div class="column status">
        EY
      </div>
      <div class="column status">
        SY
      </div>  
  </div>
</div>

{% if bundles %}
  {% for bundle in bundles %}
  <div class="container js-stack">
    <div class="row title">
      <div class="column period">
        Week 23
      </div>
      <div class="column">
      {{ bundle.quiz_for_EY.status }}
      </div>
      <div class="column">
      {{ bundle.quiz_for_SY.status }}
      </div>  
    </div>
    <div class="row content">
      <div class="column period">
        {{ bundle.start_date }}
        </div>
        <div class="column">
          <h3 class="quiz">
          {{ bundle.quiz_for_EY.title }}
          </h3>
          <button>Upload</button>
          <img src="{{ bundle.quiz_for_EY.answer.url }}" />
        </div>
        <div class="column">
          <h3 class="quiz">
          {{ bundle.quiz_for_SY.title }}
          </h3>
          <button>Submit</button>
          <p>this is a code</p>
        </div>  
    </div>
  </div>
  {% endfor %}
{% endif %}

{% endblock %}