* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

a:hover {
  border-bottom: 1px solid red;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

img {
  max-width: 100%;
}