/* Bundle */
.container {
  height:100%;
}

.js-stack {
  max-height: 40px;
  overflow-y: hidden;
  transition: all .2s ease-in-out;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: 1px solid black;
}

.row.label {
  background: pink;
}

.row.title {
  cursor: pointer;
  
  &:hover {
    opacity: 0.6;
  }
}

.row.content {
  border: none;
  height: 100%;
}

.row.content.show{
  display: flex; 
  
  // padding: 10px;
  
  height: auto;
  opacity: 1;
	// max-height: 500px; /* approximate max height */
}

.column.period {
  width: 20vw;
}

.column {
  width: 40vw;
  padding-right: 30px;
}

.quiz {
  font-size: 3em;
}

/* Form */
button {
  all: unset;
  border: 1px solid black;
  padding: 5px 10px;
}

/* Messages for Login */
.danger {
  color: red;
}

#message.hide {
  display: none;
}